.container {
    width: 100%;
    margin: auto;
    height : 100vh;
    justify-content: center;
    display: flex;
}

.container-flex {
    width: 75%;
}

.header {
    text-align: center;
    font-size: 50px;
    background: linear-gradient(to right, #0eae71 20%, #FF8C00 35%, #0b6688 75%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.body {
    width: 75%;

}

.todo {
    font-weight: bold;
    padding: 14px;
    border: 3px solid black;
    border-radius: 50px;
    width: fit-content;
}

.todo-fix {
    font-weight: bold;
    padding: 14px;
    border: 3px solid black;
    border-radius: 50px;
    width: fit-content;
    text-decoration: line-through;
}

.todo-add {
    width: 100%;
    display:flex;
    align-items: center;
    justify-content:space-between;
    border-radius: 20px;
    box-shadow: 1px 2px 12px 7px rgba(176,174,176,1);
    padding: 6px;
}

.input {
    width: 100%;
    outline: none;
    border: none;
    background-color: transparent;
}

.todo-add-btn {
 width: 15%;   
}

.btn {
    width: 100%;
    color: black;
    font-weight: bold; 
    border: none;
    border-radius: 15px;
    padding: 8px;
    background-color:thistle;
}

.icon {
    width: 70rem;
    align-items: center;
    justify-content:center;
    padding: 10px;
    display: flex;
}

.icon-checklist {
    
}

.icon-title {
    width: 100%;
}

.icon-btn {
    width:  10%;
    
}
